#canvas {
    background-color: black;
    margin: 0 auto;
    padding: 0;
    display: block;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

svg {
    display: block;
    margin: 0 auto;
    background: transparent;
    width: 1em;
    height: 1em;
}

#fps-container {
    position: absolute;
    bottom: 8px;
    left: 8px;
    padding: 2px;
    background: black;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    z-index: 1000;
}